# OS X Finder
.DS_Store

# Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata
*.xccheckout
*.xcscmblueprint

# Build products
build/
*.o
*.LinkFileList
*.hmap

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

# Cocoapods
Pods
Carthage

# AppCode specific files
.idea/
*.iml

# R.swift & Sourcery
*.generated.swift
*.profraw
App/Lib/Generated
Data/Lib/Generated

# fastlane
ModuleCache/
Logs/
fastlane/test_output/
ipa/
fastlane/report.xml
fastlane/README.md

# Yarn & NPM
node_modules/
.build/config
*.orig

# GraphQL
Data/schema.json
